doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/style.css")
    title Document
  body
    h1 WELCOME TO HOME
    img(src="rickYmorty.jpeg", alt="rYM")
    ul
      li
        a(href="/home") HOME
      li  
        a(href="/QueHacemos") Que Hacemos??
      li  
        a(href="/QuienesSomos") Quienes Somos??
      li  
        a(href="/DondeEstamos") donde estamos??
      li  
        a(href="/Contacto") CONTACTO